.bg{
    height: 100% ;
    min-width:100%;
    background-image: url('../../Images//Home/2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat

}
.label{
    min-height: 50% ;
    min-width:100%;
    background-image: url('../../Images//Home/label.jpg');
    background-size: cover;
    background-position: center;


}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: black;
    background-image: loading lazy;

  }
  .dev{
    min-height: 50% ;
    min-width:100%;
    background-image: url('../../Images//Home/dev.jpg');
    background-size: cover;
    background-position: right;
    background-image: loading lazy;

  }

  .Quality{
    min-height: 50% ;
    min-width:100%;
    background-image: url('../../Images//Home/qu.jpg');
    background-size: cover;
    background-position: center;
    background-image: loading lazy;

  }
  .inbox{
    min-height: 50% ;
    min-width:100%;
    background-image: url('../../Images//Home/inbox.jpg');
    background-size: cover;
    background-position: center;
    background-image: loading lazy;
    overflow-y: auto;


  }
  .details{
    min-height: 50% ;
    min-width:100%;
    background-size: contain;
    background-image: linear-gradient(to top, #002b3f , #aaacaf);
    background-position: center;
    background-image: loading lazy;
    overflow-y: auto 

  }

  .product{
    min-height: 50% ;
    min-width:100%;
    background-image: url('../../Images/Home//products_img/10.webp');
    background-size: cover;
    background-position: center;
    background-image: loading lazy;  
    overflow-y: auto;
  }

  .Card{
    background-color: rgba(255, 255, 255, 0.7);

  }